/* Reset */
html {
    position: relative;
    min-height: 100%;
}

body {
}

hr {
    margin-top: 14px;
    margin-bottom: 14px;
}

/* Structure */
#page {
    text-align: center;
    padding-bottom: 60px;
}

#page .navbar.space {
    margin: 0;
}

#page #outer-content {
    position: relative;
}

#page #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#page #footer .middle {
    text-align: center;
}

#page #footer ul {
    list-style-type: none;
    padding: 0;
}

#page #footer li {
    display: inline;
    margin: 0 3px;
    list-style-type: none;
    font-size: 11px;
}

#app-progress.progress {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 15px;
    border-radius: 0;
}

#app-progress .progress-bar {
    width: 100%;
    font-size: .7em;
    line-height: inherit;
}

/* Common */
.middle {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 0 15px;
}

.xs .middle, .sm .middle {
    width: 100%;
}

.ver.lst {
    margin-bottom: 0;
}

.ver.fst {
    margin-top: 0;
}

.ver.nxt {
    margin-bottom: 14px;
}

.ver.prv {
    margin-top: 14px;
}

.hor.nxt {
    margin-right: 14px;
}

.hor.prv {
    margin-left: 14px;
}

.hor.lst {
    margin-right: 0;
}

.hor.fst {
    margin-left: 0;
}

/* Command */
#command .control-label {
    text-align: left;
}

#command .panel-body.well {
    border: 0;
    margin: 0;
}

#command .console-host {
    height: 158px;
    overflow-x: hidden;
    overflow-y: auto;
}

#command .console {
    padding: 6px 2px;
}

#command .console, #command .console .input-group-addon, #command .console .form-control {
    background-color: #000;
    color: #ddd;
}

#command .console .input-group-addon, #command .console .form-control {
    border: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}

#command .console .input-group {
    margin-top: -3px;
}

#command .console .in .input-group-addon {

    padding-right: 0;
}

#command .console .out {
    display: table;
    width: 100%;
}

#command .console .out textarea {
    resize: none;
    padding: 8px 12px 0 12px;
    height: 108px !important;
    line-height: 22px;
    overflow-y: hidden !important;
}